{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Cursussen{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="jumbotron m-0">
    <h1 class="blueheader">Cursussen</h1>
    <div class="col col-sm-12 p-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Taal</th>
                    <th scope="col">Docent</th>
                    <th scope="col">Locatie</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.language }}</td>
                    <td>{{ course.username }}</td>
                    <td>{{ course.location }}</td>
                    <td><a href="{{ url_for('standaard.cursus', language=course.language, course_id=course.id)}}" class="btn btn-dark">Bekijken</a></td> <!---moet nog een dynamische link aanmaken--->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

