{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class ="container">
  <div class="row">
    <div class="col-8">
      <div class="jumbotron">
        <h1 class = "blueheader">Welkom bij IT Academy Noord-Nederland!</h1>
        <div id="CursusCarousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{{url_for('standaard.cursussen')}}">
              <img class="d-block w-100" src="/static/code.png" alt="cursussen"> <!--source afbeeling nog veranderen-->
              <div class="carousel-caption d-none d-md-block">
                <h3 class=whitetext">Onze Cursussen</h5>
                <p>all onze cursussen</p>
              </div>
              </a>
            </div>
            {% for cursus in cursussen %}
            <div class="carousel-item">
              <a href="{{ url_for('standaard.cursus', language=cursus.language, course_id=cursus.id)}}">
              <img class="d-block w-100" src="/static/code.png" alt={{cursus.language}}> <!-- source afbeeling nog veranderen -->
              <div class="carousel-caption d-none d-md-block">
                  <h3 class="whitetext">{{cursus.language}}</h5> 

                <p>{{cursus.description}}</p>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    {% if current_user.is_authenticated %}
    <div class="col">
      <div class="container-fluid">
        <h1 class = "whitetext">Welkom {{role}} {{name}}!</h1> <!--username? andere pagina?-->
      </div>
      {% if role == "admin" %}
      <div class="container-fluid">
        <a href="{{ url_for('admin.index') }}"><h1 class = "whitetext">Admin Panel</h1></a>
      </div>
      {% endif %}    
    {% else %}
      <div class="col">
        <div class="container-fluid">
          <a href="{{ url_for('standaard.login') }}"><h1 class = "whitetext">Login</h1></a>
        </div>
        <div class="container-fluid">
          <a href="{{ url_for('standaard.register') }}"><h1 class = "whitetext">Registreren</h1></a>
        </div>
      </div>
    {% endif %}
  </div>


</div>
{% endblock %}
