/* ctr shift r in chrome om css te herladen */


html { 
    background-color: white;
}


.blueheader {
    color: steelblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.whitetext {
    color: white
}


.jumbotron {
    background-color:ghostwhite !important;
    margin-top: 25px;
    color: black;
}

.container-fluid {
    background-color: steelblue ;
    text-align: center;
    margin-top: 50px;
    padding: 3%;
    border-radius: 25px;
}

.table-data {
    padding: 0.75rem
}

.lecture {
    background-color: rgb(197, 197, 197);
}

td {
    padding: 0 !important;
}

/* flash bericht */
.alert { 
    margin: 1rem 0.1rem !important; 
}

