{% extends 'admin/master.html' %}

{% block body %}

<p><h3> Add Lecture </h3> </p>
<p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.course_id.label }} 
            <div>
                {{ form.course_id }}
            </div>
        </div>
        <div>
            {{ form.start_time.label }} 
            <div>
                {{ form.start_time }}
            </div>
        </div>
        <div>
            {{ form.end_time.label }} 
            <div>
                {{ form.end_time }}
            </div>
        </div>
        <div>
            {{ form.lecture_name.label }} 
            <div>
                {{ form.lecture_name }}
            </div>
        </div>
        <div>
            <div>
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </div>
    </form>
</p>
{% endblock %}