{% extends "base.html" %}

{% block content %}

<div class="jumbotron m-0 p-4">
    <div class="row d-flex justify-content-center">
        <h1>Week {{ dates[0].isocalendar()[1] }}</h1>
    </div>
    <div class="row p-3">
        <div class="col d-flex justify-content-end p-1">
            <a class="btn btn-outline-success" href="{{ url_for('docent.docent_rooster', year=previous[0], week=previous[1]) }}">Vorige week</a>
        </div>
        <div class="col d-flex justify-content-start p-1">
            <a class="btn btn-outline-success" href="{{ url_for('docent.docent_rooster', year=next[0], week=next[1]) }}">Volgende week</a>
        </div>
    </div>
    <table class="table rooster">
        <thead class="thead-dark">
            <tr>
                <th></th>
                {% for date in dates %}
                    <th>{{ date.strftime('%A, %d %B') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in range(9, 22) %}
                <tr>
                    <td><div class="table-data">{{ hour }}:00</div></td>
                    {% for date in dates %}
                        <td>
                            <div class="d-flex justify-content-start">
                            {% for lecture in lectures %}
                                
                                {% if dt.combine(date, t) + td(hours=hour+1) > lecture.start_time and dt.combine(date, t) + td(hours=hour) < lecture.end_time %}       
                                    <div class="table-data lecture mr-1">{{ lecture.language }}</div>
                                {% endif %}

                            {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

